.fishEye-homepage {
	max-width: 1440px;
	max-height: 1024px;
	margin: 0 auto;
	position: relative;
}

.container {
	@include large-only {
		padding-top: 4rem;
	}
}

.main-heading {
	top: 50px;
	right: 20px;
	padding: 0;
	margin-top: 40px;
	position: absolute;
	margin: 0;

	@include xsmall-only {
		top: 45px;
	}

	@include large-only {
		top: 50px;
		padding: 0;
	}

	@include xlarge-only {
		top: 65px;
		margin: 0 100px 0;
	}

	& h1 {
		@include typo-14px--400;
		color: $color-primary-dark;
		margin: 0;

		@include xsmall-only {
			font-size: 22px;
		}

		@include small-only {
			font-size: 30px;
		}

		@include xlarge-only {
			@include typo-36px--400;
			line-height: 7px;
		}
	}
}
