.fishEye-photographer-page {
	max-width: 1440px;
	max-height: 1024px;
	margin: 0 auto;
	position: relative;
}

.photographer-page {
	// padding: 10px 20px 20px;
	margin: 0 auto;
}

// FIXME corriger la taille et dispo image
// BUG image *3 et collées!

.container-works {
	margin: 10px auto 60px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	// margin: 0 auto;
	margin-left: auto;
	margin-right: auto;

	// @include small-only {
	// 	padding: 40px 20px;
	// }

	@include large-only {
		padding: 40px 40px;
		justify-content: space-between;
	}

	@include xlarge-only {
		padding: 40px 80px;
	}
}
