/* 
** Media Queries variables
*/

// desktop
$breakpoint-xlarge: 1440px;

// iPad pro
$breakpoint-large: 1024px; // ou 900 ou 1200 ??

//tablet
$breakpoint-medium: 768px;

//large phone
$breakpoint-small: 600px;

// X-Small screen
$breakpoint-xsmall: 425px;

//===================================================================================
//Media Queries Mixins

// 425px
@mixin xsmall-only {
	@media only screen and (min-width: $breakpoint-xsmall) {
		@content;
	}
}

// 600px
@mixin small-only {
	@media only screen and (min-width: $breakpoint-small) {
		@content;
	}
}

// 768px
@mixin medium-only {
	@media only screen and (min-width: $breakpoint-medium) {
		@content;
	}
}

// 1024px
@mixin large-only {
	@media only screen and (min-width: $breakpoint-large) {
		@content;
	}
}

// 1440px
@mixin xlarge-only {
	@media only screen and (min-width: $breakpoint-xlarge) {
		@content;
	}
}

//===================================================================================
//variable for max-width of sections in the large version
$max-width-sections: 1440px;
