// Colors variables
$color-primary-dark: #901c1c;
$color-primary-light: #d3573c;
$color-secondary-light: #fafafa;
$color-secondary-dark: #525252;

$color-white: #fff;
$color-beige: #db8876;
$color-grey: #757575;
$color-grey-bg-card: #c4c4c4;
$color-grey-dark: #312e2e;
$color-black: #000;

$color-error-form: #ba1c1c;

