// Mixins

@mixin tag-item {
	color: $color-primary-dark;
	@include typo-12px--500;
	text-align: center;
	line-height: 16px;
	border: 0.5px solid #c4c4c4;
	border-radius: 11px;
	padding: 0px 5px 1px;
	margin: 3px;
	cursor: pointer;
}

@mixin tag-item--hover {
	background-color: $color-primary-dark;
	color: $color-white;
}

// btn btn-contact & btn-submit in form
@mixin btn--small {
	color: $color-white;
	@include typo-18px--700;
	text-align: center;
	background-color: $color-primary-dark;
	border: none;
	border-radius: 5px;
	width: 170px;
	height: 35px;
	padding: 7px 18px;
}

@mixin btn--large {
	color: $color-white;
	@include typo-18px--700;
	text-align: center;
	background-color: $color-primary-dark;
	border: none;
	border-radius: 5px;
	width: 170px;
	height: 69px;
	padding: 21px 11px;
}

@mixin button-reset {
	cursor: pointer;
	border: none;
	background-color: transparent;
}

@mixin center-icon {
	display: flex;
	align-items: center;
	justify-content: center;
}

//Base for btn Icon
@mixin btn-icon {
	background: transparent;
	border: 1px solid transparent;
	width: 54px;
	height: 54px;
	@include center-icon;
	cursor: pointer;
	padding: 0;
}

//Base for Heart Icon
@mixin heart {
	position: absolute;
	width: inherit;
	height: inherit;
}
