.header {
	display: flex;
	align-items: center;
	justify-content: start;
	margin: 0 0 0 5%;
	padding: 0 2%;
	max-width: 70%;
	position: absolute;
	top: 0;
	left: 0;

	&-logo {
		// position: absolute;
		// left: 3%;
		width: 200px;
		height: 50px;
	}
}
