.header {
	display: flex;
	flex-direction: column;
	padding: 40px 10px 40px 20px;
	width: 100%;

	@include large-only {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		max-width: 72%;
		padding-right: 0;
	}

	@include xlarge-only {
		padding: 40px 100px;
		max-width: 100%;
		justify-content: start;
	}

	&-logo img {
		width: 150px;
		height: 37px;

		@include xlarge-only {
			width: 200px;
			height: 50px;
		}
	}
}

.fishEye-photographer-page {
	& .header {
		width: 335px;

		@include xsmall-only {
			padding-left: 45px;
		}

		@include small-only {
			width: 600px;
			margin: 0 auto;
		}

		@include medium-only {
			width: 700px;
			padding-left: 0;
		}

		@include large-only {
			padding: 40px 60px;
			max-width: 100%;
			width: 100%;
			justify-content: start;
		}

		@include xlarge-only {
			padding: 40px 100px;
			max-width: 100%;
			justify-content: start;
		}

		&-logo img {
			@include large-only {
				width: 200px;
				height: 50px;
			}
		}
	}
}
