.header {
	display: flex;
	flex-direction: column;
	padding: 40px 10px 40px 20px;
	width: 100%;

	@include large-only {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		max-width: 72%;
		padding-right: 0;
	}

	@include xlarge-only {
		padding: 40px 100px;
		max-width: 100%;
		justify-content: start;
	}

	&-logo img {
		width: 150px;
		height: 37px;

		@include xlarge-only {
			width: 200px;
			height: 50px;
		}
	}
}
