.navbar {
	@include xlarge-only {
		display: flex;
		align-items: center;
		justify-content: left;
		width: 60%;
	}
}

.navigation {
	padding-top: 40px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 5px 0;

	@include medium-only {
		padding: 0;
	}

	@include xlarge-only {
		width: 100%;
	}

	& .tags {
		@include tag-item;

		&:hover,
		&:active {
			@include tag-item--hover;
		}
	}

	& .active {
		color: $color-white;
		background-color: $color-primary-dark;
	}
}
