/*
** Hidden in small screen
*/
aside {
	display: none;

	@include large-only {
		display: block;
        position: fixed;
        bottom: -18px;
        right: 36px;
	}
	& p {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 376px;
		height: 89px;
		background-color: $color-beige;
		border-radius: 5px;
        @include typo-24px--500;
		// font-weight: 500;

		& #total-likes {
			& i {
				padding-left: 6px;
			}
		}
	}
}
