/*
** Hidden in small screen
*/
aside {
	display: none;
	z-index: 5;
	position: fixed;
	bottom: -16px; // -3% -18px
	right: 8%; // 36px
	width: 376px;
	height: 89px;
	background-color: $color-beige;
	color: $color-black;
	border-radius: 5px;
	@include typo-24px--500;

	@include large-only {
		// display: block;
		display: flex;
	}

	& .aside-content {
		display: flex;
		align-items: center;
		justify-content: space-around;
		padding-bottom: 10px;
        width: 100%;
	}
}
