//==================================================================================================
//   Photographer-page : Base Btn for btn-contact & btn-submit
//==================================================================================================
.btn {
	@include btn--small;

	@include large-only {
		@include btn--large;
	}
}
//==================================================================================================
// Photographer-page: button contact in jumbotron(large screen)
//    & fixed bottom page (small screen)
//==================================================================================================
.btn-contact {
	position: fixed;
	bottom: 28px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 5;

	&:hover {
		color: $color-black;
		background-color: $color-beige;
	}

	@include large-only {
		position: absolute;
		top: 19%; // 15% 18%
		left: 55%;
	}
}

//==================================================================================================
// Photographer-page: button chevron Dropdown
//==================================================================================================
.chevron-icon {
	position: absolute;
	@include center-icon;
	width: 32px;
	height: 32px;
	padding: 5px;
	background-color: transparent;
	border: transparent;
	cursor: pointer;
	color: $color-white;

	&.fa-chevron-down {
		top: 17px;
		right: 8px;
	}

	&.fa-chevron-up {
		top: 8px;
		right: 8px;
	}
}

//==================================================================================================
//  Photographer-page: button like in Cards' Work
//==================================================================================================
.btn-like {
	@include button-reset;
	@include center-icon;
	position: absolute;
	top: -3px;
	right: -4px;
	width: 24px;
	height: 24px;
	padding: 0;
	color: $color-primary-dark;

	@include large-only {
		top: -11px;
		right: -15px;
		width: 54px;
		height: 54px;
	}

	//Base for all heart-icon
	& i.fa-heart {
		@include center-icon;
		@include heart;
		width: 10px;
		height: 10px;

		@include large-only {
			width: 17px;
			height: 18px;
		}
	}

	&i.fas.fa-heart.liked {
		background: $color-primary-dark; //$color-linear-gradient;
		transform: scale(0);
		transition: 350ms ease-in-out; //600ms 350ms
		// -webkit-background-clip: text;
		// -webkit-text-fill-color: transparent;

		// add for safari otherwise the heart is transparent
		&::before {
			background: $color-primary-dark; //$color-linear-gradient;
			// -webkit-background-clip: text;
			// -webkit-text-fill-color: transparent;
		}
	}
}

//==================================================================================================
// Photographer-page: button form (large screen & small screen)
//==================================================================================================
// button submit form
.btn-submit {
	margin: 26px;

	@include large-only {
		margin: 26px 26px 0 0; // 26px 26px 0
	}
}

// button in modal success message
.btn-success {
	margin: 26px;
}

// button 'X' to close form contact & success
.close-form,
.close-success {
	@include button-reset;
	@include center-icon;
	position: absolute;
	top: 20px;
	right: 20px;
	width: 32px;
	height: 32px;
	color: $color-white;

	@include large-only {
		width: 72px;
		height: 72px;
	}

	& img {
		width: 19px;
		height: 19px;

		@include large-only {
			width: 42px;
			height: 42px;
		}
	}
}

//==================================================================================================
// Photographer-page: button lightbox (large screen & small screen)
//==================================================================================================

// buttons '>' and '<' in lightbox
.lightbox__next,
.lightbox__prev {
	border: transparent;
	background: url(../img/icon-arrow.svg) center center / 9px 14px no-repeat;
	width: 26px;
	height: 26px; // poss 100% toute la hauteur
	position: fixed;
	top: 50%;
	right: 0;
	margin-top: -7px;
	z-index: 101;
	// text-indent: -3000px; // replace by 'sr-only' class

	@include medium-only {
		background: url(../img/icon-arrow.svg) center center / 22px 30px
			no-repeat;
		width: 66px;
		height: 66px; // poss 100% toute la hauteur
		margin-top: -15px;
	}

	@include large-only {
		background: url(../img/icon-arrow.svg) center center / 30px 48px
			no-repeat;
		width: 96px;
		height: 96px; // poss 100% toute la hauteur
		margin-top: -24px;
	}
}

.lightbox__prev {
	right: auto;
	left: 0;
	transform: rotate(180deg);
}
// 'X' close the lightbox
.lightbox__close {
	background: url(../img/icon-times.svg) center center / 12px 12px no-repeat;
	width: 20px;
	height: 20px;
	border: transparent;
	position: fixed;
	top: 0px;
	right: 0px;
	color: $color-primary-dark;
	z-index: 102;

	@include medium-only {
		background: url(../img/icon-times.svg) center center / 26px 26px
			no-repeat;
		width: 46px;
		height: 46px;
	}

	@include large-only {
		background: url(../img/icon-times.svg) center center / 42px 42px
			no-repeat;
		width: 72px;
		height: 72px;
	}
}
// All buttons' lightbox
.lightbox button {
	cursor: pointer;
	// opacity: 0.5;
	// transition: opacity 300ms;

	&:hover {
		// opacity: 1;
		border: solid blue 3px;
	}
}
