/*  Photographer-page : 
    Base Btn for btn-contact & btn-submit
*/
.btn {
	@include btn--small;

	@include large-only {
		@include btn--large;
	}
}
/*  Photographer-page:
    btn .btn-contact in jumbotron(large screen)
    & fixed bottom page (small screen)
*/
.btn-contact {
	position: fixed;
	bottom: 28px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 5;

	&:hover {
		color: $color-black;
		background-color: $color-beige;
	}

	@include large-only {
		position: absolute;
		top: 19%; // 15% 18%
		left: 55%;
	}
}

/*  Photographer-page:
    btn .btn-submit in form (large screen & small screen)
*/
.btn-submit {
	margin: 26px;

	@include large-only {
		margin: 26px 26px 0;
	}
}

// btn in modal success message
.btn-success {
	margin: 26px;
}

// btn 'X' to close form contact & success
.close-form,
.close-success {
	@include button-reset;
	@include center-icon;
	position: absolute;
	top: 20px;
	right: 20px;
	width: 32px;
	height: 32px;
	color: $color-white;

	& img {
		width: 19px;
		height: 19px;
	}

	@include large-only {
		width: 72px;
		height: 72px;
	}
}

/*  Photographer-page:
    btn .btn-like in Cards' Work
*/
.btn-like {
	@include button-reset;
	@include center-icon;
	position: absolute;
	top: -3px;
	right: -4px;
	width: 24px;
	height: 24px;
	padding: 0;
	color: $color-primary-dark;

	@include large-only {
		top: -11px;
		right: -15px;
		width: 54px;
		height: 54px;
	}

	//Base for all heart-icon
	& i.fa-heart {
		@include center-icon;
		@include heart;
		width: 10px;
		height: 10px;

		@include large-only {
			width: 17px;
			height: 18px;
		}
	}

	&i.fas.fa-heart.liked {
		background: $color-primary-dark; //$color-linear-gradient;
		transform: scale(0);
		transition: 350ms ease-in-out; //600ms 350ms
		// -webkit-background-clip: text;
		// -webkit-text-fill-color: transparent;

		// add for safari otherwise the heart is transparent
		&::before {
			background: $color-primary-dark; //$color-linear-gradient;
			// -webkit-background-clip: text;
			// -webkit-text-fill-color: transparent;
		}
	}
}
