.work {
	width: 335px;
	padding-bottom: 30px;
	// margin: 20px auto;
	margin: 20px;

	@include large-only {
		width: 350px;
		// min-width: 25%;
	}

	&__image {
		background-image: url(../scss/img/photos/Mimi/Animals_Rainbow.jpg);
		width: 335px;
		height: 190px;
		border-radius: 5px;
		// object-fit: cover;

		@include large-only {
			width: 350px;
			height: 300px;
		}

		&.MK1 {
			background-image: url(../scss/img/photos/Mimi/Animals_Rainbow.jpg);
			background-position: right 30% top 18%; // right 50% bottom 58%
			background-size: 100%; //150
		}
	}

	&__infos {
		display: flex;
		justify-content: space-between;
		color: $color-primary-dark;
		padding-top: 10px;

		@include large-only {
			width: 350px;
		}

		&__name {
			@include typo-14px--400;

			@include large-only {
				@include typo-24px--500;
				font-weight: 400;
				text-align: left;
			}
		}

		&__price {
			@include typo-12px--500;

			@include large-only {
				@include typo-24px--500;
			}
		}

		&__likes {
			@include typo-14px--400;
			font-weight: 500;
			padding-left: 10px;
			padding-right: 6px;

			@include large-only {
				@include typo-24px--500;
				padding-left: 15px;
			}

			& i {
				width: 10px;
				height: 10px;

				@include large-only {
					width: 17px;
					height: 18px;
				}
			}
		}
	}
}
