.work {
	width: 335px;
	// padding-bottom: 30px;
	// margin: 20px auto;
	margin: 20px;

	@include large-only {
		width: 350px;
		// width: 335px;
		margin: 20px;

		// min-width: 25%;
		// margin-left: 70px;
	}
	@include xlarge-only {
		margin: 20px 50px;
	}

	&__media {
		width: 335px;
		height: 190px;

		@include large-only {
			width: 350px;
			height: 300px;
		}

		// work's photo or video
		&__item {
			width: 335px;
			height: 190px;
			border-radius: 5px;
			object-fit: cover;
			background-position: right 30% top 18%; // right 50% bottom 58% right 30% top 18%
			// background-size: 100%; //150

			@include large-only {
				width: 350px;
				height: 300px;
			}
		}
	}

	&__infos {
		display: flex;
		justify-content: space-between;
		color: $color-primary-dark;
		padding-top: 10px;
		width: 100%;

		@include large-only {
			width: 350px;
		}

		&__name {
			@include typo-14px--400;
			max-width: 228px;

			@include large-only {
				@include typo-24px--500;
				font-weight: 400;
				text-align: left;
			}
		}

		& p {
			// min-width: 126px;
			min-width: 129px;
			text-align: right;
		}

		&__price {
			@include typo-12px--500;

			@include large-only {
				@include typo-24px--500;
			}
		}

		&__likes {
			@include typo-14px--400;
			font-weight: 500;
			padding-left: 8px;
			padding-right: 18px;
			position: relative;

			@include large-only {
				@include typo-24px--500;
				padding-right: 28px;
			}
		}
	}
}
