// Cards' Photographers
.photographers {
	min-width: 301px;
	width: 100%;
	padding-bottom: 5%;

	@include medium-only {
		width: 50%;
	}

	@include large-only {
		width: 370px;
		width: 33%;
		height: auto;
		padding: 2% 0;
	}

	&__portrait {
		width: 200px;
		height: 200px;
		border-radius: 50%; // clip-path: ellipse(50% 50%);
		margin: 0 auto 20px;
		box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
		object-fit: cover;
	}

	&__name {
		@include typo-36px--400;
		text-align: center;
		color: $color-primary-light;
	}

	&__infos {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&--place {
			@include typo-13px--400;
			text-align: center;
			padding-bottom: 3px;
			color: $color-primary-dark;
		}

		&--tagline {
			font-size: 10px;
			font-weight: 400;
			line-height: 13px;
			letter-spacing: 0em;
			text-align: center;
			padding-bottom: 3px;
			color: $color-black;
		}

		&--price {
			font-size: 9px;
			font-style: normal;
			font-weight: 400;
			line-height: 12px;
			letter-spacing: 0em;
			text-align: center;
			padding-bottom: 3px;
			color: $color-grey;
		}
	}

	&__tags {
		display: flex;
		align-items: center;
		justify-content: center;

		& .tags {
			@include tag-item;

			&:hover,
			&:active {
				@include tag-item--hover;
			}
		}

		& .active {
			color: $color-white;
			background-color: $color-primary-dark;
		}
	}
}
