// cards photgraphers.container homepage

//TODO deplacer dans 'layout' ou 'pages'
.photographers.container {
	display: flex;
	flex-direction: column;
	justify-content: center;

	@include medium-only {
		width: 100%;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-items: center;
		margin: 0;
	}
}

.photographers {
	min-width: 301px;
	width: 100%;
	padding-bottom: 5%;

	@include medium-only {
		width: 50%;
	}

	@include large-only {
		width: 370px;
		width: 33%;
		height: auto;
		padding: 2% 0;
	}

	//========================================================================

	&__portrait {
		width: 200px;
		height: 200px;
		// clip-path: ellipse(50% 50%);
		border-radius: 50%;
		margin: 0 auto 20px;
		box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);

		&.MK {
			// Mimi Keel
			background-image: url('../scss/img/photos/PhotographersIDPhotos/MimiKeel.jpg');
			background-position: right 30% bottom 50%; // right 50% bottom 58%
			background-size: 100%; //150
			// object-fit: cover;
		}
		&.ERW {
			// Ellie-Rose Wilkens
			background-image: url('../scss/img/photos/PhotographersIDPhotos/EllieRoseWilkens.jpg');
			background-position: right 50% bottom 58%;
			background-size: 180%;
		}
		&.TG {
			// Tracy Galindo
			background-image: url('../scss/img/photos/PhotographersIDPhotos/TracyGalindo.jpg');
			background-position: right 50% bottom 56%;
			background-size: 100%;
		}
		&.NB {
			// Nabeel Bradford
			background-image: url('../scss/img/photos/PhotographersIDPhotos/NabeelBrandford.jpg');
			background-position: right 30% bottom 56%;
			background-size: 140%;
		}
		&.RD {
			// Rhode Dubois
			background-image: url('../scss/img/photos/PhotographersIDPhotos/RhodeDubois.jpg');
			background-position: left 40% top 0%; //left 40% top 15%
			background-size: 180%;
		}

		&.MN {
			// Marcel Nikolic
			background-image: url('../scss/img/photos/PhotographersIDPhotos/MarcelNikolic.jpg');
			background-position: left 50% top 0%;
			background-size: 180%;
		}
	}

	&__name {
		font-size: 36px;
		font-weight: 400;
		line-height: 47px;
		letter-spacing: 0em;
		text-align: center;
		color: $color-primary-light;
	}

	&__infos {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		&--place {
			font-size: 13px;
			font-weight: 400;
			line-height: 17px;
			letter-spacing: 0em;
			text-align: center;
			padding-bottom: 3px;
			color: $color-primary-dark;
		}
		&--tagline {
			font-size: 10px;
			font-weight: 400;
			line-height: 13px;
			letter-spacing: 0em;
			text-align: center;
			padding-bottom: 3px;
			color: $color-black;
		}
		&--price {
			font-size: 9px;
			font-style: normal;
			font-weight: 400;
			line-height: 12px;
			letter-spacing: 0em;
			text-align: center;
			padding-bottom: 3px;
			color: $color-grey;
		}
	}

	&__tags {
		display: flex;
		align-items: center;
		justify-content: center;
		&__item {
			@include tag-item;

			&:hover {
				@include tag-item--hover;
			}
		}
	}
}

/* Photos selon maquettes
            &.MK {
				// Mimi Keel
				background-image: url('../scss/img/photos/Mimi/Portrait_Nora.jpg');
				background-position: right 50% bottom 58%;
				background-size: 150%;
				// object-fit: cover;
			}
			&.ERW {
				// Ellie-Rose Wilkens
				background-image: url('../scss/img/photos/EllieRose/Architecture_Horseshoe.jpg');
				background-position: right 50% bottom 58%;
				background-size: 105%;
			}
			&.TG {
				// Tracy Galindo
				background-image: url('../scss/img/photos/Tracy/Fashion_Urban_Jungle.jpg');
				background-position: right 50% bottom 56%;
				background-size: 265%;
			}
			&.NB {
				// Nabeel Bradford
				background-image: url('../scss/img/photos/Nabeel/Travel_Outdoor_Baths.jpg');
				background-position: right 50% bottom 56%;
				background-size: 265%;
			}
			&.RD {
				// Rhode Dubois
				background-image: url('../scss/img/photos/Rhode/Fashion_Melody_Red_on_Stripes.jpg');
				background-position: left 40% top 15%;
				background-size: 265%;
			}
			&.MN {
				// Marcel Nikolic
				background-image: url('../scss/img/photos/Marcel/Travel_Tower.jpg');
				background-position: right 50% top 32%;
				background-size: 270%;
			}
*/
