/*
 *  JUMBOTRON
*/
.jumbotron {
	position: relative;
	margin: 0 auto;
	width: 335px;

	@include medium-only {
		padding: 0;
		width: 700px;
	}

	@include large-only {
		padding: 50px 50px;
		margin: 0 auto;
		min-width: 900px;
		max-width: 1240px;
		width: 90%;
		// height: 313px;
		height: 100%;
		background-color: $color-secondary-light;
		border-radius: 5px;
	}

	@include xlarge-only {
		padding: 50px 50px;
		width: 1240px;
		height: 313px;
		max-width: 100%;
	}

	// Jumbotron heading
	&__heading {
		@include typo-36px--400;
		text-align: left;
		color: $color-primary-light;
		margin: 0;
		// max-width: 295px;
		max-width: 80%;

		@include large-only {
			font-size: 42px;
			line-height: 58px;
		}

		@include xlarge-only {
			@include typo-64px--400;
		}
	}

	// Jumbotron infos: city and country
	&__infos {
		display: flex;
		flex-direction: column;

		&--place {
			@include typo-13px--400;
			padding-bottom: 5px;
			text-align: left;
			color: $color-primary-dark;

			@include large-only {
				@include typo-24px--500;
				font-weight: 400;
				padding-bottom: 19px;
			}
		}
		&--tagline {
			@include typo-13px--400;
			padding-bottom: 5px;
			text-align: left;
			color: $color-secondary-dark; // $color-grey

			@include large-only {
				@include typo-18px--500;
				padding-bottom: 15px;
			}
		}
	}

	// Jumbotron tags
	& .photographers {
		&__tags {
			display: flex;
			justify-content: left;

			&__item {
				@include large-only {
					@include typo-18px--500;
					text-align: left;
				}

				&:nth-child(1) {
					margin-left: 0;
				}
			}
		}
	}
}
// Jumbotron Small photo
.photographers__portrait.small {
	width: 100px;
	height: 100px;
	position: absolute;
	top: -5px;
	right: 0px;

	@include large-only {
		width: 200px;
		height: 200px;
		top: 50px;
		right: 50px;
	}

	& img {
		width: 100px;
		height: 100px;
		position: absolute;
		top: 0px;
		right: 0px;

		@include large-only {
			width: 200px;
			height: 200px;
		}
	}
}
