.overlay-lightbox {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $color-white;
	z-index: 99;
}

.lightbox {
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	// min-height: 100vh;
	z-index: 100;
	z-index: 100;
	display: flex;
	flex-direction: column;
	animation: lightboxIn 500ms;

	padding: 0 17px;

	&__container {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		padding: 0 26px;
		margin: 0 auto;

		@include medium-only {
			padding: 0 66px;
		}

		@include large-only {
			padding: 0 96px;
		}
	}

	&__loader {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%);
		width: 38px;
		height: 38px;
		opacity: 0.5;
		background: url(/img/loader.svg) center center no-repeat;
		display: none;
	}

	&__content {
		border-radius: 5px;
		width: 290px;
		height: 248px;

		@include medium-only {
			width: 590px;
			height: 510px;
		}

		@include large-only {
			width: 790px;
			height: 675px;
		}

		&__media {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 5px;
			align-items: center;

			& img,
			& video {
				max-width: 100%;
				border-radius: 5px;
				animation: lightboxIn 500ms;
			}
		}
	}

	&__heading {
		position: absolute;
		@include typo-14px--400;
		text-align: left;
		color: $color-primary-dark;

		@include medium-only {
			@include typo-18px--500;
			font-weight: 400;
			bottom: -40px;
		}

		@include large-only {
			@include typo-24px--500;
			font-weight: 400;
		}
	}
}

@keyframes lightboxIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
