.lightbox {
	position: fixed;
	// top: 10%;
	// left: 50%;
	// right: 50%;
	// bottom: 10%;
	top: 0%;
	left: 0%;
	right: 0%;
	bottom: 0%;
	width: 100%;
	height: 100%;
	z-index: 100;
	// transform: translateX(-50%);
	// width: 100vw;
	// max-width: 1250px;
	// height: 90vh;
	// max-height: 100vh;

	& .lightbox-modal {
		position: absolute;
		// width: 342px;
		// height: 1024px; //248px
		// max-width: 100%;
		// max-height: 100vh;
		// top: 50%;
		// left: 50%;
		// transform: translate(-50%, -50%);
		color: $color-primary-dark;
		margin: 20px auto;

		position: absolute;
		// width: 290px;
		// max-height: 80vh; //248px
		border-radius: 5px;
		top: 45%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 80%;
		height: 80%;

		// @include medium-only {
		// 	width: 684px;
		// 	height: auto; //496px
		// }

		// @include large-only {
		// 	width: 956px;
		// 	height: auto; // 644px
		// }

		// @include xlarge-only {
		// 	width: 1253px;
		// 	height: 940px; // 940px
		// }

		& .content {
			width: auto;
		}

		.close-lightbox {
			position: absolute;
			top: 0;
			right: 0%; //-30px

			&.fa-times {
				@include medium-only {
					font-size: 22px;
				}

				@include large-only {
					font-size: 42px;
				}
			}
		}

		.previous {
			position: absolute;
			top: 50%;
			left: 0%; //-30px

			&.fa-chevron-left {
				@include medium-only {
					font-size: 22px;
				}

				@include large-only {
					font-size: 42px;
				}
			}
		}

		.next {
			position: absolute;
			top: 50%;
			right: 0%; //-30px

			&.fa-chevron-right {
				@include medium-only {
					font-size: 22px;
				}

				@include large-only {
					font-size: 42px;
				}
			}
		}

		// .lightbox-content {
		// 	position: absolute;
		// 	width: 290px;
		// 	max-height: 80vh; //248px
		// 	border-radius: 5px;
		// 	top: 50%;
		// 	left: 50%;
		// 	transform: translate(-50%, -50%);

		// 	@include medium-only {
		// 		width: 580px;
		// 		max-height: 80vh; //496px
		// 	}

		// 	@include large-only {
		// 		width: 800px;
		// 		max-height: 80vh; // 644px
		// 	}

		// 	@include xlarge-only {
		// 		width: 1050px;
		// 		max-height: 80vh; //900px
		// 	}

		& img,
		video {
			width: 100%;
			height: 100%;

			// max-width: 100%;
			// max-height: 100%;
			border-radius: 5px;
			object-fit: contain;
			// background: $color-grey-bg-card;
			// margin: 50px;
			position: relative;

			@include xlarge-only {
				max-width: 900px;
				max-height: 750px;
                min-width: 900px;
                min-height: 750px;
                width: 100%;
                height: 100%;
			}
		}
		//TODO verifier le centrage du titre/image
		& h3 {
			@include typo-14px--400;
			text-align: left;

			@include medium-only {
				@include typo-18px--500;
				font-weight: 400;
			}

			@include large-only {
				@include typo-24px--500;
				font-weight: 400;
				// padding-left: 50px;
			}
		}
	}
}

.overlay-lightbox {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $color-white;
	z-index: 5;
}
