// link fixed top page to scroll to main content
// FIXME mettre animation + show/hidden scroll
.scroll {
	width: 100%;
	display: flex;
	justify-content: center;

	&--link {
		position: fixed;
		top: 9px;
		background-color: $color-beige;
		padding: 6px;
		border-radius: 5px;
		font-size: 16px;
		font-weight: 700;
		text-align: center;
		visibility: hidden;

		@include small-only {
			visibility: hidden;
		}

		@include xlarge-only {
			font-size: 18px;
			visibility: visible;
		}
	}
}
