/* 
** Sorting-menu with dropdown 
** Hidden in small screen
*/

.sorting-menu {
	display: none;
	// position: relative;

	@include large-only {
		display: flex;
		align-items: baseline;
		padding: 40px 60px 8px;
	}

	@include xlarge-only {
		padding: 40px 100px 8px;
	}

	& h2 {
		margin: 0;
		padding-right: 26px;
		@include typo-18px--700;
		text-align: left;
	}

	& .dropdown {
		display: flex;
		flex-direction: column;
		align-items: baseline;

		&__item {
			@include typo-18px--700;
			text-align: left;
			display: flex;
			align-items: center;
			padding: 0 10px;
			width: 170px;
			height: 53px;

			& .sort-item {
				display: flex;
				position: relative;
				// border-bottom: #fff solid 1px;
				text-align: left;
				padding: 14px 14px;
				width: 100%;
			}

			& .chevron-icon {
				position: absolute;
				top: 8px;
				right: 0px;
                @include center-icon;
				width: 32px;
				height: 32px;
				padding: 5px;
				background-color: transparent;
				border: none;
				cursor: pointer;
				color: $color-white;
			}

			&.btn {
				border-radius: 5px 5px 0 0;
				width: 170px;
				height: 53px;
				// align-items: center;

				&.active {
					border-radius: 5px;
					height: 69px;
					padding: 14px;

					// & .sort-item {
					// 	border-bottom: transparent;
					// }
				}

				&.hidden {
					display: none;
				}
			}
		}

		& .dropdown-extend {
			display: flex;
			flex-direction: column;
			align-items: baseline;
			color: $color-white;
			background-color: $color-primary-dark;
			border-radius: 0 0 5px 5px;
			height: 106px;
			box-shadow: 0px 4px 4px 0px #00000040;

			& .sort-item {
				border-top: #fff solid 1px;

				&:nth-child(2) {
					border-bottom: transparent;
				}
			}

			&.hidden {
				display: none;
			}
		}
	}
}
