/* 
** Sorting-menu with dropdown 
** Hidden in small screen
*/
.photographer-works {
	& .sorting-menu {
		display: none;

		@include large-only {
			display: flex;
			align-items: baseline;
			padding: 40px 60px 8px;
		}

		@include xlarge-only {
			padding: 40px 100px 8px;
		}

		& h2 {
			margin: 0;
			padding-right: 26px;
			@include typo-18px--700;
			text-align: left;
		}

		& .dropdown-btn {
			padding: 14px;
			@include typo-18px--700;
			text-align: left;
			color: $color-white;
			background-color: $color-primary-dark;
			border-radius: 5px;
			border: none;

			&.hidden {
				display: none;
			}

			& span {
				padding-left: 26px;
			}
		}

		& .dropdown {
			display: flex;
			flex-direction: column;
			align-items: baseline;
			color: $color-white;
			background-color: $color-primary-dark;
			border-radius: 5px;

			&.hidden {
				display: none;
			}

			&__item {
				padding: 14px;
				@include typo-18px--700;
				text-align: left;

				&:nth-child(2) {
					border-top: #fff solid 2px;
					width: 90%;
					align-self: center;
				}

				&:nth-child(3) {
					border-top: #fff solid 2px;
					width: 90%;
					text-align: left;
				}

				& span {
					padding-left: 26px;
				}
			}
		}
	}
}
